body {
    font-family: 'Montserrat', sans-serif;
    background-color: #222;
    color: #FFF;
    margin: 0;
    padding: 0;
  height: 100vh;
}
#about {
  background-color: black;
  padding: 40px 0;
}
#about h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}
#about p {
  text-align: center;
  font-size: 14px;
}
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
footer a {
  font-size: 14px;
}
.search-container {
    text-align: center;
    margin: 20px 0;
}
.search-bar {
    background-color: #333;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding: 8px 15px;
    width: 80%;
    transition: background-color 0.3s;
    font-family: 'Noto Sans', sans-serif;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
    border: 1px solid #ccc;
    margin-left: 40px;
}
.search-bar:focus {
    background-color: #555;
    outline: none;
}
.game-container {
    display :grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin: 20px 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.game-btn {
    background-color: #333;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    transition: background-color 0.3s;
    position: relative;
    height: 200px;
    width: 190px;
    font-family: 'Noto Sans', sans-serif;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
}

.game-btn img {
    border-radius: 5px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.game-btn span {
    color: white;
    font-size: 16px;
    position: absolute;
    bottom: 1px;
}
.game-btn:hover {
    background-color: #555;
}




.proxy-btn {
    background-color: #333;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    transition: background-color 0.3s;
    position: relative;
    height: 200px;
    width: 190px;
    font-family: 'Noto Sans', sans-serif;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
}

.proxy-btn img {
    border-radius: 5px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.proxy-btn span {
    color: white;
    font-size: 16px;
    position: absolute;
    bottom: 1px;
}
.proxy-btn:hover {
    background-color: #555;
}

#iframe-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.iframe-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
#iframe-container iframe {
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100% - 50px);
  width: 100%;
  border: none;
  background-color: white;
}
.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  border: none;
  width: 100%;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  box-sizing: border-box;
}
.top-text {
  color: white;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
#iframe-container button {
  font-size: 20px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  background-color: #444;
  border: none;
  border-radius: 10%;
  color: #000000;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
}
#iframe-container button:hover {
  background-color: #555;
}
#iframe-container i {
  color: #fff;
}
footer {
      background-color: #333;
      padding: 1rem;
      display: flex;
      justify-content: space-around;
      position: fixed;
      bottom: 0;
    width: 100%;
    }
    footer a {
      color: white;
      text-decoration: none;
    }
.topnav {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}
.topnav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
}
.topnav input[type="text"] {
  padding: 5px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}
.topnav input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 5px #333;
}
.topnav a.active {
  background-color: #4CAF50;
}
 /* CSS for the loading screen */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./nature.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
    #loading-message {
      font-size: 24px;
      margin-top: 20px;
      text-align: center;
    }
    #loading-bar {
      width: 80%;
      height: 30px;
      background-color: #ddd;
      border-radius: 15px;
      overflow: hidden;
      margin-top: 20px;
    }
    #loading-progress {
      width: 0%;
      height: 100%;
      background-color: #4CAF50;
    }
    /* CSS for the image */
    #my-image {
      width: 300px;
      filter: grayscale(100%);
      transition: filter 2s;
      margin-bottom: 20px;
    }
#discord {
  margin-top: 50px;
}
#discord h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
#discord p {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}
#discord a {
  color: #007bff;
}
#developers {
  margin-top: 50px;
}
#developers h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
#developers p {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}
#developers a {
  color: #007bff;
}

#settingsIcon{
    font-size: 400px;
    color: white;
}

#settingsWindow {
  position: absolute;
  z-index: 9;
  background-color: rgb(22, 22, 22);
  border: 1px solid #d3d3d3;
  text-align: center;
  color: white;
  padding-bottom: 4px;
}

#settingsWindowHeader {
/*   padding: 10px; */
  height: 24px;
  cursor: move;
  z-index: 10;
  font-size:small;
  background: linear-gradient(to top, #2f3241 0%, #44495e 100%);
  background-color: rgb(15, 15, 15);
  color: #fff;
}
#closeButton {
    color: white;
    background-color: #2f3241;
	border: 2px solid #2f3241;
}

#theme{
	width: 200px;
  padding: 10px;
	border: none;
	border-radius: 4px;
	background-color: #2f3241ee;
	color: white;
	font-size: 16px;
}
#cloak {
    color: white;
    background-color: #2f3241;
	border: 2px solid #2f3241;
}